div.gallery{

    margin: 5px;
    border: 1px solid red;
    float: left;
    width: 180px;
}

div.gallery:hover{
    border: 1px solid purple;

}
div.gallery img{
    width: 100%;
    height: auto;

}
div.desc{
    padding: 15px;
    text-align: center;

}
.sprite{
    background: url("../images/houses.jfif")no repeat;
}
.engineers{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: 0px 0px;

}

.shadows{

    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: -500px -500px;
}

a[href="https://shkolladigjitale.com/"]{

    color: blue;
}

p[class*="ds"]{
background:blue ;
color:wheat;
padding: 20px;
}
div[div~="ds"]{
background:blue ;
color:wheat;
padding: 20px;
}

img[title^="blue"]{
    border: 2px solid blue;
}

h1[class|="heading"]{
background:blue ;
color:wheat;
padding: 20px;
}

input[placeholder$="name"]{
    border: 2px solid red;
}

input[readonly]{
    border: 2px solid red;
}