p{
color: blue;
font-size:22px ;
text-decoration: none;
font-family: monospace;
font-weight: 800;



}


a{

    text-decoration: none;
}

.card{
    width: 200px;
    height: auto;
    border: 3px solid purple;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;



}

.card img{

    width: 180px;
}